.adp_customheader {font-size: 20px;line-height: 28px;display: block;box-sizing: border-box;position: relative;margin: 0;padding: 20px 0px;}
input.blog_number {max-width: 50px;width: 100%;}
.adp_get_number_of_post {margin: 0px 0px 45px 0;}